.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}
.easyMode {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.easyMode p {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.powerBlock {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.powerBtn {
  background-color: #c2f5ff;
  border-radius: 50px;
  outline: none;
  border: none;
  width: 68px;
  height: 68px;
  cursor: pointer;
}
.alahomoraImg {
  width: 56px;
  height: 34px;
}
.revealImg {
  width: 46px;
  height: 49px;
}
.alahomoraBlock {
  position: relative;
  border-radius: 50%;
  background-color: rgb(194, 245, 255);
  border: none;
  padding: 2.5px;
  text-align: center;
  text-decoration: none;
}
.revealBlock {
  position: relative;
}
.additionalInfo {
  display: none;
  position: absolute;
  z-index: 2;
  top: 80px;
  left: -90px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 222px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #004980;
  background-color: #c2f5ff;
}

.infoHeading {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.infoText {
  display: block;
  text-align: center;
}

.alahomoraBlock:hover .additionalInfo,
.revealBlock:hover .additionalInfo {
  display: block;
}
